/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1100px) {
  .hero-wrapper {
    background-image: none;
  }
}

@media (max-width: 870px) {
  .question-map {
    max-width: 486px;
    min-height: 254px;
  }
  .map-wrapper {
    width: 486px;
    min-height: 254px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .map-wrapper {
    display: none;
  }
  .contacts-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__list {
    display: block;
  }
  .header__nav  {
    position: absolute;
    display: block;
    top: 200px;
    right: 130px;
    z-index: 1;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .header__nav-panel {
    width: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .open {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    visibility: visible;
    opacity: 1;
    width: 100%;
    max-width: 165px;
    min-height: 180px;
  }
  .burger {
    display: block;
    z-index: 1;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    border-top: 3px solid var(--deep-purpul-color);
    border-radius: 2px;
    background-color: transparent;
  }
  .header__burger::before {
    content: '';
    position: absolute;
    top: 7px;
    right: 0;
    height: 3px;
    width: 100%;
    background-color: var(--deep-purpul-color);
    border-radius: 4px;
  }
  .header__burger::after {
    content: '';
    position: absolute;
    top: 17px;
    right: 0;
    height: 3px;
    width: 100%;
    background-color: var(--deep-purpul-color);
    border-radius: 4px;
  }
  .header-active::after {
    content: " ";
    position: absolute;
    top: 105px;
    left: 0;
    width: 100%;
    height: 590px;
    background-color: #F2F2F2;
    background-image: url(../img/header/burger/bg-img.png);
    background-repeat: no-repeat;
    background-position: left 30px top 50px;
  }
  .burger-line_close-menu {
    border-top: 3px solid transparent;
  }
  .burger-line_close-menu::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .burger-line_close-menu::after {
    top: 7px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .hero-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .advantages-list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .advantages-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .aboutUs-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .contacts-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .question-text-wrapper {
    margin-bottom: 20px;
  }
  .question-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .header-active::after {
    height: 390px;
    background-image: none;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 320px;
  }
  .hero-title {
    max-width: 290px;
    min-height: 50px;
    font-size: 25px;
    line-height: 25px;
  }
  .hero-text {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .advantages-title {
    font-size: 17px;
  }
  .advantages-text {
    font-size: 12px;
  }
  .advantages-title_size {
    margin-bottom: 30px;
    max-width: 290px;
    min-height: 25px;
    font-size: 25px;
    line-height: 25px;
  }
  .advantages-pic {
    display: none;
  }
  .aboutUs-title {
    margin-bottom: 30px;
    max-width: 290px;
    min-height: 25px;
    font-size: 25px;
    line-height: 25px;
  }
  .contacts-title {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 25px;
  }
  .contacts-text {
    font-size: 16px;
    line-height: 150%;
  }
  .question-text {
    font-size: 16px;
    line-height: 150%;
  }
  .question-input_size {
    padding: 30px 30px;
    max-width: 290px;
    min-width: 290px;
    min-height: 150px;
    max-height: 400px;
  }
}
