/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  min-width: 320px;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
}

input,
textarea{
  outline: none;
  border: none;
}
/*global------------------------------------------------------------------------------*/

.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

/*root----------------------------------------------------------------------------*/

:root {
  --light-grey-color: #D9D9D9;
  --darck-color: #000;
  --white-color: #FFF;
  --deep-purpul-color: #6D31EE;
  --light-purpul-color: #AA9DFA;
  --light-dark-color: #121723;
}

/*header-----------------------------------------------------------------------------*/

.burger {
  display: none;
}

.header {
  border-bottom: 1px solid var(--light-grey-color);
}

.header-wrapper {
  padding-top: 29px;
  padding-bottom: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--darck-color);
}

.header__link:hover {
  color: var(--deep-purpul-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header__link:hover svg path {
  fill: var(--deep-purpul-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.header__link:hover svg line {
  stroke: var(--deep-purpul-color);
  -webkit-transition: stroke 0.3s ease-in-out;
  -o-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

.header__link:active {
  outline: 1px solid var(--deep-purpul-color);
  outline-offset: 10px;
}

.header__link:focus {
  outline: 1px solid var(--deep-purpul-color);
  outline-offset: 10px;
  color: var(--deep-purpul-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  border-radius: 40px;
}

.header__link:focus svg path {
  fill: var(--deep-purpul-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.header__link:focus svg line {
  stroke: var(--deep-purpul-color);
  -webkit-transition: stroke 0.3s ease-in-out;
  -o-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 74px;
}

.header__item {
  max-width: 165px;
  min-height: 20px;
}

/*hero---------------------------------------------------------------------------------*/

.hero {
  border-bottom: 1px solid var(--light-grey-color);
}

.hero-wrapper {
  padding-top: 97px;
  padding-bottom: 95px;
  background-image: url("../img/hero/hero-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.hero-title {
  margin-bottom: 17px;
  max-width: 695px;
  min-height: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--darck-color);
}

.hero-text {
  margin-bottom: 70px;
  max-width: 724px;
  min-height: 78px;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: var(--darck-color);
}

.hero-btn {
  padding: 25px;
  max-width: 250px;
  min-height: 70px;
  background: #6D31EE;
  border-radius: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--white-color);
  cursor: pointer;
}

.hero-btn:hover {
  background-color: var(--light-purpul-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.hero-btn:active {
  background-color: var(--light-purpul-color);
  outline: 1px solid var(--deep-purpul-color);
  outline-offset: 10px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.hero-btn:focus {
  background-color: var(--light-purpul-color);
  outline: 1px solid var(--deep-purpul-color);
  outline-offset: 10px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/*advantages-------------------------------------------------------------------*/

.advantages {
  border-bottom: 1px solid var(--light-grey-color);
}

.advantages-wrapper {
  padding-top: 97px;
  padding-bottom: 95px;
}

.advantages-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-pic {
  margin-right: 36px;
  max-width: 60px;
  min-width: 60px;
  max-height: 60px;
  min-height: 60px;
}

.advantages-title {
  max-width: 434px;
  min-height: 20px;
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--darck-color);
}

.advantages-title_size {
  margin-bottom: 57px;
  max-width: 320px;
  min-height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: var(--darck-color);
}

.advantages-text {
  max-width: 434px;
  min-height: 30px;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: var(--darck-color);
}

/*aboutUs-----------------------------------------------------------------*/

.swiper {
  width: 100%;
}

.swiper-button-prev {
  display: none;
}

.swiper-scrollbar {
  display: none;
}

.swiper-button-next {
  display: none;
}

.aboutUs {
  border-bottom: 1px solid var(--light-grey-color);
}

.aboutUs-wrapper {
  padding-top: 97px;
  padding-bottom: 36px;
}

.aboutUs-title {
  margin-bottom: 14px;
  max-width: 320px;
  min-height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color:var(--darck-color);
}

.aboutUs-text {
  max-width: 1000px;
  min-height: 112px;
  margin-bottom: 36px;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 200%;
  color: var(--darck-color);
}

/*contacts--------------------------------------------------------------------------*/

.contacts-map {
  max-width: 550px;
  min-height: 350px;
}

.map-wrapper {
  width: 550px;
  min-height: 350px;
}

.contacts-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts-title {
  margin-bottom: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: var(--darck-color);
}

.contacts-text {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 200%;
  color: var(--darck-color);
}

.contacts-text_color {
  border-bottom: 1px solid var(--light-grey-color);
}

.contacts-text_color:hover {
  color: var(--light-purpul-color);
  border-color: var(--light-purpul-color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contacts-list_margin {
  margin-bottom: 30px;
}

.contacts-list_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*question-----------------------------------------------------*/

.question {
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid var(--light-grey-color);
  background-color: var(--light-dark-color);
}

.question-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.question-text {
  max-width: 300px;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 200%;
  color: var(--white-color);
}

.question-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 455px;
  min-height: 458px;
}

.question-input {
  padding: 12px 30px;
  width: 100%;
  max-width: 455px;
  min-height: 65px;
  background: var(--white-color);
  border-radius: 40px;
}

.question-input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: var(--darck-color);
}

.question-input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: var(--darck-color);
}

.question-input:-ms-input-placeholder {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: var(--darck-color);
}

.question-input::-ms-input-placeholder {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: var(--darck-color);
}

.question-input::placeholder {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: var(--darck-color);
}

.question-input:hover {
  background-color: var(--light-grey-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.question-input:focus {
  outline: 1px solid var(--deep-purpul-color);
  outline-offset: 10px;
  background-color: var(--light-grey-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.question-label {
  position: relative;
  margin-bottom: 20px;
}

.question-input_size {
  padding: 30px 30px;
  max-width: 455px;
  min-width: 455px;
  min-height: 150px;
  max-height: 400px;
}

.question-checkbox {
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: var(--white-color);
  cursor: pointer;
}

.just-validate-error-label {
  top: 3px;
  left: 30px;
  position: absolute;
}
